body{
    margin: 0px;
    padding: 0px;
    background-image: url(computer.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    max-width: 30%;
  padding: 10px;
    display: inline-block;
    text-align: center;
    border: 2px solid aqua;
    margin-top: 10%;
    overflow: hidden;
opacity: 1;
    color: aqua;
    border-radius: 10px;
}
.img{
    max-width: 400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
@media(max-width:768px){
    .container{
        display: block;
    margin: auto;
        max-width: 100%;
        overflow: visible;
    }
}